
.centered{
    text-align: center;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    width: 800px;
}

#boton {
    background-color: cyan;
}

